.table{
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0px 3px 8px #ddd;
  margin-bottom: 1rem;
  .header{
    padding: 1rem 1rem 0 1rem;
  }
  .body{
    display: grid;
    gap: 1rem;
    padding: 1rem 1rem 0rem 1rem ;
  }
  .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
    padding-bottom: 1rem;
    &:not(:last-child){
      border-bottom: 1px solid rgb(241, 239, 239);
    }
    .right{
      text-align: right;
    }
    button.button{
      display: block;
      margin-left: auto;
      padding: 0.5rem;
    }
    a{
      color: var(--primary);
      text-decoration: none;
      font-weight: bold;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .bold{
    font-weight: bold;
  }
}